<!-- login-modal.component.html -->
<div class="fixed z-10 inset-0 overflow-y-auto" aria-labelledby="modal-title" role="dialog" aria-modal="true">
         <div class="flex items-end justify-center min-h-screen pt-4 px-4 pb-20 text-center sm:block sm:p-0">
                  <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity" aria-hidden="true"></div>
                  <span class="hidden sm:inline-block sm:align-middle sm:h-screen" aria-hidden="true">&#8203;</span>
                  <div
                           class="inline-block align-bottom bg-white rounded-lg text-left overflow-hidden shadow-xl transform transition-all sm:my-8 sm:align-middle sm:max-w-lg sm:w-full">
                           <div class="bg-white px-4 pt-5 pb-4 sm:p-6 sm:pb-4">
                                    <div class="sm:flex sm:items-start">
                                             <div class="mt-3 text-center sm:mt-0 sm:ml-4 sm:text-left">
                                                      <h3 class="text-lg leading-6 font-medium text-gray-900"
                                                               id="modal-title">
                                                               Connexion
                                                      </h3>
                                                      <div class="mt-2">
                                                               <p class="text-sm text-gray-500">
                                                                        Connectez-vous pour continuer.
                                                               </p>
                                                      </div>
                                             </div>
                                    </div>
                           </div>
                           <div class="px-4 py-3 sm:px-6 sm:flex sm:flex-row-reverse">
                                    <form class="w-full max-w-sm">
                                             <div class="md:flex md:items-center mb-6">
                                                      <div class="md:w-full">
                                                               <input class="bg-gray-200 appearance-none border-2 border-gray-200 rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-purple-500"
                                                                        id="inline-full-name" type="text"
                                                                        placeholder="Votre email" />
                                                      </div>
                                             </div>
                                             <div class="md:flex md:items-center mb-6">
                                                      <div class="md:w-full">
                                                               <input class="bg-gray-200 appearance-none border-2 border-gray-200 rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-purple-500"
                                                                        id="inline-password" type="password"
                                                                        placeholder="Mot de passe" />
                                                      </div>
                                             </div>
                                             <div class="flex items-center justify-between">
                                                      <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
                                                               type="button">
                                                               Connexion
                                                      </button>
                                             </div>
                                    </form>
                           </div>
                  </div>
         </div>
</div>