<main>
  <div class="relative overflow-x-hidden bg-indigo-50">
    <div class="w-[90%] mx-auto md:px-2 pb-12 pt-32 lg:flex md:flex lg:px-0 lg:pt-40">
      <div class="md:w-[60%] md:pr-10 w-[100%]">
        <div class="md:mt-16 mt-6">
          <div class="mt-2">
            <a href="#" class="inline-flex space-x-6">
              <span
                class="rounded-full bg-red-700/10 px-3 py-1 md:text-sm text-xs font-semibold leading-6 text-black-600 ring-1 ring-inset ring-red-600/10">
                Disponible en suisse 🇨🇭
              </span>
            </a>
          </div>
          <h1 class="mt-6 md:text-10xl text-5xl line-height font-semibold leading-20 tracking-tighter text-gray-900">
            L'enseignement sur messure pour des etudiant exigents
          </h1>
          <p
            class="xl:mt-6 md:mt-6 mt-2 lg:text-base md:text-sm text-xs text-gray-900 mb-4 lg:leading-6 md:leading-[1em] leading-3">
            Connectez-vous avec des experts universitaires pour une expérience
            d'apprentissage personnalisée.
            <br />
            Notre service unique relie les étudiants à des enseignants hautement
            qualifiés et certifiés, tous issus d'universités reconnues.
          </p>
          <button
            class="mt-4 rounded bg-indigo-800 px-10 py-3 text-xs text-white hover:text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600"
            (click)="showLoginModal = true">Se connecter</button>
          <app-login-modal *ngIf="showLoginModal" (close)="toggleModal()"></app-login-modal>

        </div>
        <!-- login modal -->
      </div>

      <div class="w-[40%] md:block hidden">
        <div class="w-full relative">
          <div class="w-3/6 relative mt-6 lg:block hidden">
            <div class="h-[14em] w-[14em] mx-auto">
              <img class="object-cover w-full h-full"
                src="https://ik.imagekit.io/tnpirx7v8/tutor-01.png?updatedAt=1711544650404" />
            </div>
            <div class="bg-white p-3 text-center w-[75%] mx-auto rounded-2xl -mt-16 relative z-20">
              <div class="flex mx-auto justify-center gap-1">
                <span class="font-semibold d">Julie</span>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="#E4A733" class="w-4 h-4 mt-1">
                  <path fill-rule="evenodd"
                    d="M10.788 3.21c.448-1.077 1.976-1.077 2.424 0l2.082 5.006 5.404.434c1.164.093 1.636 1.545.749 2.305l-4.117 3.527 1.257 5.273c.271 1.136-.964 2.033-1.96 1.425L12 18.354 7.373 21.18c-.996.608-2.231-.29-1.96-1.425l1.257-5.273-4.117-3.527c-.887-.76-.415-2.212.749-2.305l5.404-.434 2.082-5.005Z"
                    clip-rule="evenodd" />
                </svg>
                <span class="text-gray-500 text-sm mt-0.5">5.0</span>
              </div>
              <div class="flex text-gray-600 justify-center gap-2 mt-1">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                  stroke="currentColor" class="w-4 h-4">
                  <path stroke-linecap="round" stroke-linejoin="round"
                    d="M4.26 10.147a60.438 60.438 0 0 0-.491 6.347A48.62 48.62 0 0 1 12 20.904a48.62 48.62 0 0 1 8.232-4.41 60.46 60.46 0 0 0-.491-6.347m-15.482 0a50.636 50.636 0 0 0-2.658-.813A59.906 59.906 0 0 1 12 3.493a59.903 59.903 0 0 1 10.399 5.84c-.896.248-1.783.52-2.658.814m-15.482 0A50.717 50.717 0 0 1 12 13.489a50.702 50.702 0 0 1 7.74-3.342M6.75 15a.75.75 0 1 0 0-1.5.75.75 0 0 0 0 1.5Zm0 0v-3.675A55.378 55.378 0 0 1 12 8.443m-7.007 11.55A5.981 5.981 0 0 0 6.75 15.75v-1.5" />
                </svg>
                <p class="text-xs">Haute ecole de gestion</p>
              </div>
              <div class="text-gray-600 mt-1">
                <p class="text-xs">Informatique de gestion</p>
              </div>
            </div>
          </div>
          <div class="w-3/6 relative mt-16">
            <div class="h-[14em] w-[14em] mx-auto">
              <img class="object-cover w-full h-full"
                src="https://ik.imagekit.io/tnpirx7v8/tutor-03.png?updatedAt=1711544650484" />
            </div>
            <div class="bg-white p-3 text-center w-[75%] mx-auto rounded-2xl -mt-16 relative z-20">
              <div class="flex mx-auto justify-center gap-1">
                <span class="font-semibold d">Julie</span>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="#E4A733" class="w-4 h-4 mt-1">
                  <path fill-rule="evenodd"
                    d="M10.788 3.21c.448-1.077 1.976-1.077 2.424 0l2.082 5.006 5.404.434c1.164.093 1.636 1.545.749 2.305l-4.117 3.527 1.257 5.273c.271 1.136-.964 2.033-1.96 1.425L12 18.354 7.373 21.18c-.996.608-2.231-.29-1.96-1.425l1.257-5.273-4.117-3.527c-.887-.76-.415-2.212.749-2.305l5.404-.434 2.082-5.005Z"
                    clip-rule="evenodd" />
                </svg>
                <span class="text-gray-500 text-sm mt-0.5">5.0</span>
              </div>
              <div class="flex text-gray-600 justify-center gap-2 mt-1">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                  stroke="currentColor" class="w-4 h-4">
                  <path stroke-linecap="round" stroke-linejoin="round"
                    d="M4.26 10.147a60.438 60.438 0 0 0-.491 6.347A48.62 48.62 0 0 1 12 20.904a48.62 48.62 0 0 1 8.232-4.41 60.46 60.46 0 0 0-.491-6.347m-15.482 0a50.636 50.636 0 0 0-2.658-.813A59.906 59.906 0 0 1 12 3.493a59.903 59.903 0 0 1 10.399 5.84c-.896.248-1.783.52-2.658.814m-15.482 0A50.717 50.717 0 0 1 12 13.489a50.702 50.702 0 0 1 7.74-3.342M6.75 15a.75.75 0 1 0 0-1.5.75.75 0 0 0 0 1.5Zm0 0v-3.675A55.378 55.378 0 0 1 12 8.443m-7.007 11.55A5.981 5.981 0 0 0 6.75 15.75v-1.5" />
                </svg>
                <p class="text-xs">EPFL Université</p>
              </div>
              <div class="text-gray-600 mt-1">
                <p class="text-xs">Science de la vie</p>
              </div>
            </div>
          </div>

          <div class="w-3/6 absolute top-28 -right-12">
            <div class="h-[20em] w-[20em] mx-auto">
              <img class="object-cover w-full h-full rounded-full"
                src="https://ik.imagekit.io/tnpirx7v8/tutor-3.png?updatedAt=1711544832024" />
            </div>
            <div class="bg-white p-3 text-center w-[75%] mx-auto rounded-2xl -mt-16 relative z-20">
              <div class="flex mx-auto justify-center gap-1">
                <span class="font-semibold d">Julie</span>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="#E4A733" class="w-4 h-4 mt-1">
                  <path fill-rule="evenodd"
                    d="M10.788 3.21c.448-1.077 1.976-1.077 2.424 0l2.082 5.006 5.404.434c1.164.093 1.636 1.545.749 2.305l-4.117 3.527 1.257 5.273c.271 1.136-.964 2.033-1.96 1.425L12 18.354 7.373 21.18c-.996.608-2.231-.29-1.96-1.425l1.257-5.273-4.117-3.527c-.887-.76-.415-2.212.749-2.305l5.404-.434 2.082-5.005Z"
                    clip-rule="evenodd" />
                </svg>
                <span class="text-gray-500 text-sm mt-0.5">4.0</span>
              </div>
              <div class="flex text-gray-600 justify-center gap-2 mt-1">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                  stroke="currentColor" class="w-4 h-4">
                  <path stroke-linecap="round" stroke-linejoin="round"
                    d="M4.26 10.147a60.438 60.438 0 0 0-.491 6.347A48.62 48.62 0 0 1 12 20.904a48.62 48.62 0 0 1 8.232-4.41 60.46 60.46 0 0 0-.491-6.347m-15.482 0a50.636 50.636 0 0 0-2.658-.813A59.906 59.906 0 0 1 12 3.493a59.903 59.903 0 0 1 10.399 5.84c-.896.248-1.783.52-2.658.814m-15.482 0A50.717 50.717 0 0 1 12 13.489a50.702 50.702 0 0 1 7.74-3.342M6.75 15a.75.75 0 1 0 0-1.5.75.75 0 0 0 0 1.5Zm0 0v-3.675A55.378 55.378 0 0 1 12 8.443m-7.007 11.55A5.981 5.981 0 0 0 6.75 15.75v-1.5" />
                </svg>
                <p class="text-xs">Université de Genève</p>
              </div>
              <div class="text-gray-600 mt-1">
                <p class="text-xs">Faculté de droit</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="bg-white md:py-16 py-8">
      <div class="mx-auto md:max-w-7xl px-6 md:px-8">
        <div class="mx-auto lg:text-center">
          <h2 class="md:w-3/6 w-full mx-auto mt-2 md:text-3xl text-2xl font-semibold tracking-tight text-gray-900">
            Rendez l’apprentissage étonnamment simple avec
            <span class="text-[#8253F4]">tutora</span> 📚
          </h2>
        </div>
        <div class="mx-auto mt-16 max-w-2xl sm:mt-20 lg:mt-24 lg:max-w-none">
          <div class="grid max-w-xl grid-cols-1 gap-x-20 gap-y-16 lg:max-w-none lg:grid-cols-3">
            <div *ngFor="let feature of features" class="flex flex-col">
              <img [src]="feature.icon" [alt]="feature.name" class="md:h-32 h-16" />
              <h2 class="text-xl font-semibold leading-7 text-gray-900 mt-10 text-center">
                {{ feature.name }}
              </h2>
              <dd class="mt-4 flex flex-auto flex-col md:text-sm text-xs leading-0 text-gray-600">
                <p class="flex-auto text-center">
                  {{ feature.description }}
                </p>
              </dd>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="bg-white">
    <div class="relative isolate px-6 pt-14 lg:px-8">
      <div class="absolute inset-x-0 -top-40 -z-10 transform-gpu overflow-hidden blur-3xl sm:-top-80"
        aria-hidden="true">
        <div
          class="relative left-[calc(50%-11rem)] aspect-[1155/678] w-[36.125rem] -translate-x-1/2 rotate-[30deg] bg-gradient-to-tr from-[#ff80b5] to-[#9089fc] opacity-30 sm:left-[calc(50%-30rem)] sm:w-[72.1875rem]"
          style="
            clip-path: polygon(
              74.1% 44.1%,
              100% 61.6%,
              97.5% 26.9%,
              85.5% 0.1%,
              80.7% 2%,
              72.5% 32.5%,
              60.2% 62.4%,
              52.4% 68.1%,
              47.5% 58.3%,
              45.2% 34.5%,
              27.5% 76.7%,
              0.1% 64.9%,
              17.9% 100%,
              27.6% 76.8%,
              76.1% 97.7%,
              74.1% 44.1%
            );
          "></div>
      </div>

      <h2 class="text-center mt-2 md:text-3xl text-2xl font-bold tracking-tight text-gray-900">
        Comment ça marche 🤔💡
      </h2>

      <div class="container mx-auto md:px-20 px-6 md:py-20 py-0 w-full">
        <div class="block w-full">
          <div class="md:flex block w-full">
            <div class="order-2 w-full md:flex block justify-end pt-10">
              <img src="https://ik.imagekit.io/tnpirx7v8/recherche2.svg?updatedAt=1711544649893" alt="Université"
                class="object-cover md:w-5/6 !w-full md:h-[25em] h-[9em] rounded-lg" />
            </div>
            <div class="order-1 md:pt-32 pt-10">
              <div class="text-lg flex sm:text-4xl font-bold mb-2 gap-2">
                <span><svg width="28" height="28" viewBox="0 0 28 28" fill="none" class="mt-1"
                    xmlns="http://www.w3.org/2000/svg">
                    <g clip-path="url(#clip0_33_430)">
                      <path fill-rule="evenodd" clip-rule="evenodd"
                        d="M27.727 26.4688L20.5004 19.355C22.3921 17.2987 23.555 14.5863 23.555 11.5938C23.555 5.18875 18.2822 0 11.7775 0C5.27274 0 0 5.18875 0 11.5938C0 17.99 5.27274 23.1787 11.7775 23.1787C14.588 23.1787 17.1658 22.2075 19.1905 20.5888L26.446 27.7287C26.8004 28.0787 27.3735 28.0787 27.727 27.7287C28.0814 27.3875 28.0814 26.8188 27.727 26.4688Z"
                        fill="#8253F4" />
                    </g>
                    <defs>
                      <clipPath id="clip0_33_430">
                        <rect width="28" height="28" fill="white" />
                      </clipPath>
                    </defs>
                  </svg>
                </span>
                <p class="md:text-3xl text-2xl ml-2">1. Rechercher</p>
              </div>
              <p class="text-gray-600">
                Utilisez notre outil de recherche pour parcourir notre base de
                données de plus de 2000 professeurs qualifiés.
              </p>
            </div>
          </div>

          <div class="md:flex block mt-16">
            <div class="order-1 md:w-3/6 w-full !flex justify-start">
              <svg class="md:w-full w-full md:-ml-24 ml-0" viewBox="0 0 627 390" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <rect x="88.2117" width="516.788" height="383" rx="40" fill="#FFF6F4" />
                <g filter="url(#filter0_d_532_192)">
                  <path
                    d="M60 87.8098C60 76.7641 68.9543 67.8098 80 67.8098H342.377C347.899 67.8098 352.376 72.287 352.376 77.8098V194.731C352.376 205.777 343.422 214.731 332.376 214.731H80C68.9543 214.731 60 205.777 60 194.731V87.8098Z"
                    fill="white" />
                </g>
                <g filter="url(#filter1_d_532_192)">
                  <path
                    d="M274.153 254.869C274.153 249.346 278.63 244.869 284.153 244.869H546.529C557.575 244.869 566.529 253.823 566.529 264.869V305.236C566.529 316.282 557.575 325.236 546.529 325.236H294.153C283.107 325.236 274.153 316.282 274.153 305.236V254.869Z"
                    fill="white" />
                </g>
                <path
                  d="M91.9739 108.925V107.325H95.1899C95.7552 107.325 96.1926 107.149 96.5019 106.797C96.8112 106.445 96.9659 106.039 96.9659 105.581C96.9659 105.271 96.8966 104.983 96.7579 104.717C96.6192 104.45 96.4166 104.237 96.1499 104.077C95.8832 103.917 95.5632 103.837 95.1899 103.837H91.9739V102.237H94.9179C95.3979 102.237 95.7819 102.114 96.0699 101.869C96.3579 101.623 96.5019 101.261 96.5019 100.781C96.5019 100.301 96.3579 99.938 96.0699 99.6927C95.7819 99.4473 95.3979 99.3247 94.9179 99.3247H91.9739V97.7247H94.9659C95.7232 97.7247 96.3526 97.8633 96.8539 98.1407C97.3552 98.418 97.7286 98.7753 97.9739 99.2127C98.2192 99.65 98.3419 100.119 98.3419 100.621C98.3419 101.207 98.1766 101.725 97.8459 102.173C97.5259 102.621 97.0512 102.983 96.4219 103.261L96.5659 102.685C97.2699 102.973 97.8192 103.378 98.2139 103.901C98.6086 104.423 98.8059 105.037 98.8059 105.741C98.8059 106.317 98.6619 106.845 98.3739 107.325C98.0966 107.805 97.6806 108.194 97.1259 108.493C96.5819 108.781 95.9099 108.925 95.1099 108.925H91.9739ZM90.7099 108.925V97.7247H92.5499V108.925H90.7099ZM103.943 109.085C103.196 109.085 102.519 108.909 101.911 108.557C101.303 108.194 100.818 107.709 100.455 107.101C100.103 106.493 99.927 105.815 99.927 105.069C99.927 104.322 100.103 103.65 100.455 103.053C100.818 102.455 101.303 101.981 101.911 101.629C102.519 101.266 103.196 101.085 103.943 101.085C104.7 101.085 105.383 101.261 105.991 101.613C106.599 101.965 107.079 102.445 107.431 103.053C107.794 103.65 107.975 104.322 107.975 105.069C107.975 105.815 107.794 106.493 107.431 107.101C107.079 107.709 106.599 108.194 105.991 108.557C105.383 108.909 104.7 109.085 103.943 109.085ZM103.943 107.389C104.38 107.389 104.764 107.293 105.095 107.101C105.436 106.898 105.698 106.621 105.879 106.269C106.071 105.917 106.167 105.517 106.167 105.069C106.167 104.621 106.071 104.226 105.879 103.885C105.687 103.543 105.426 103.277 105.095 103.085C104.764 102.882 104.38 102.781 103.943 102.781C103.516 102.781 103.132 102.882 102.791 103.085C102.46 103.277 102.199 103.543 102.007 103.885C101.826 104.226 101.735 104.621 101.735 105.069C101.735 105.517 101.826 105.917 102.007 106.269C102.199 106.621 102.46 106.898 102.791 107.101C103.132 107.293 103.516 107.389 103.943 107.389ZM114.703 108.925V104.493C114.703 103.981 114.537 103.559 114.207 103.229C113.887 102.898 113.471 102.733 112.959 102.733C112.617 102.733 112.313 102.807 112.047 102.957C111.78 103.106 111.572 103.314 111.423 103.581C111.273 103.847 111.199 104.151 111.199 104.493L110.511 104.109C110.511 103.522 110.639 103.005 110.895 102.557C111.151 102.098 111.503 101.741 111.951 101.485C112.409 101.218 112.921 101.085 113.487 101.085C114.063 101.085 114.575 101.234 115.023 101.533C115.471 101.821 115.823 102.199 116.079 102.669C116.335 103.127 116.463 103.607 116.463 104.109V108.925H114.703ZM109.439 108.925V101.245H111.199V108.925H109.439ZM117.483 112.285C116.939 112.285 116.496 112.199 116.155 112.029C115.803 111.858 115.483 111.607 115.195 111.277L116.331 110.141C116.459 110.311 116.603 110.434 116.763 110.509C116.923 110.594 117.12 110.637 117.355 110.637C117.643 110.637 117.888 110.546 118.091 110.365C118.304 110.194 118.411 109.938 118.411 109.597V101.245H120.171V109.581C120.171 110.167 120.043 110.658 119.787 111.053C119.542 111.458 119.216 111.762 118.811 111.965C118.406 112.178 117.963 112.285 117.483 112.285ZM119.323 99.8367C119.024 99.8367 118.774 99.7353 118.571 99.5327C118.379 99.33 118.283 99.0793 118.283 98.7807C118.283 98.482 118.379 98.2313 118.571 98.0287C118.774 97.826 119.024 97.7247 119.323 97.7247C119.632 97.7247 119.883 97.826 120.075 98.0287C120.267 98.2313 120.363 98.482 120.363 98.7807C120.363 99.0793 120.267 99.33 120.075 99.5327C119.883 99.7353 119.632 99.8367 119.323 99.8367ZM125.646 109.085C124.899 109.085 124.222 108.909 123.614 108.557C123.006 108.194 122.521 107.709 122.158 107.101C121.806 106.493 121.63 105.815 121.63 105.069C121.63 104.322 121.806 103.65 122.158 103.053C122.521 102.455 123.006 101.981 123.614 101.629C124.222 101.266 124.899 101.085 125.646 101.085C126.403 101.085 127.086 101.261 127.694 101.613C128.302 101.965 128.782 102.445 129.134 103.053C129.497 103.65 129.678 104.322 129.678 105.069C129.678 105.815 129.497 106.493 129.134 107.101C128.782 107.709 128.302 108.194 127.694 108.557C127.086 108.909 126.403 109.085 125.646 109.085ZM125.646 107.389C126.083 107.389 126.467 107.293 126.798 107.101C127.139 106.898 127.401 106.621 127.582 106.269C127.774 105.917 127.87 105.517 127.87 105.069C127.87 104.621 127.774 104.226 127.582 103.885C127.39 103.543 127.129 103.277 126.798 103.085C126.467 102.882 126.083 102.781 125.646 102.781C125.219 102.781 124.835 102.882 124.494 103.085C124.163 103.277 123.902 103.543 123.71 103.885C123.529 104.226 123.438 104.621 123.438 105.069C123.438 105.517 123.529 105.917 123.71 106.269C123.902 106.621 124.163 106.898 124.494 107.101C124.835 107.293 125.219 107.389 125.646 107.389ZM134.294 109.085C133.643 109.085 133.062 108.941 132.55 108.653C132.048 108.365 131.654 107.97 131.366 107.469C131.088 106.957 130.95 106.37 130.95 105.709V101.245H132.71V105.629C132.71 106.002 132.768 106.322 132.886 106.589C133.014 106.845 133.195 107.042 133.43 107.181C133.675 107.319 133.963 107.389 134.294 107.389C134.806 107.389 135.195 107.239 135.462 106.941C135.739 106.631 135.878 106.194 135.878 105.629V101.245H137.638V105.709C137.638 106.381 137.494 106.973 137.206 107.485C136.928 107.986 136.539 108.381 136.038 108.669C135.536 108.946 134.955 109.085 134.294 109.085ZM139.407 108.925V101.245H141.167V108.925H139.407ZM141.167 104.653L140.559 104.349C140.559 103.378 140.773 102.594 141.199 101.997C141.637 101.389 142.293 101.085 143.167 101.085C143.551 101.085 143.898 101.154 144.207 101.293C144.517 101.431 144.805 101.655 145.071 101.965L143.919 103.149C143.781 102.999 143.626 102.893 143.455 102.829C143.285 102.765 143.087 102.733 142.863 102.733C142.373 102.733 141.967 102.887 141.647 103.197C141.327 103.506 141.167 103.991 141.167 104.653ZM144.954 110.797L146.042 108.765L146.634 108.605C146.57 108.733 146.496 108.839 146.41 108.925C146.325 109.01 146.224 109.053 146.106 109.053C145.861 109.053 145.632 108.951 145.418 108.749C145.216 108.535 145.114 108.269 145.114 107.949C145.114 107.607 145.226 107.319 145.45 107.085C145.685 106.839 145.973 106.717 146.314 106.717C146.634 106.717 146.912 106.839 147.146 107.085C147.392 107.319 147.514 107.607 147.514 107.949C147.514 108.087 147.482 108.253 147.418 108.445C147.365 108.626 147.264 108.861 147.114 109.149L145.93 111.325L144.954 110.797Z"
                  fill="#636363" />
                <rect x="302.365" y="277.518" width="165.424" height="15.0689" rx="7.53443" fill="#EDF4FF" />
                <rect x="89.4939" y="134.364" width="215.435" height="15.0689" rx="7.53443" fill="#EDF4FF" />
                <rect x="89.4939" y="165.757" width="138.494" height="15.0689" rx="7.53443" fill="#EDF4FF" />
                <g filter="url(#filter2_d_532_192)">
                  <ellipse cx="409.441" cy="101.087" rx="33.9824" ry="33.2771" fill="white" />
                </g>
                <path
                  d="M397.579 115.842C397.579 109.773 402.603 104.854 408.8 104.854C414.997 104.854 420.021 109.773 420.021 115.842M415.212 93.8663C415.212 97.334 412.341 100.145 408.8 100.145C405.259 100.145 402.388 97.334 402.388 93.8663C402.388 90.3987 405.259 87.5876 408.8 87.5876C412.341 87.5876 415.212 90.3987 415.212 93.8663Z"
                  stroke="#636363" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                <defs>
                  <filter id="filter0_d_532_192" x="0" y="11.8098" width="412.376" height="266.921"
                    filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                    <feFlood flood-opacity="0" result="BackgroundImageFix" />
                    <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
                      result="hardAlpha" />
                    <feOffset dy="4" />
                    <feGaussianBlur stdDeviation="30" />
                    <feComposite in2="hardAlpha" operator="out" />
                    <feColorMatrix type="matrix"
                      values="0 0 0 0 0.921569 0 0 0 0 0.192157 0 0 0 0 0.172549 0 0 0 0.1 0" />
                    <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_532_192" />
                    <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_532_192" result="shape" />
                  </filter>
                  <filter id="filter1_d_532_192" x="214.153" y="188.869" width="412.376" height="200.367"
                    filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                    <feFlood flood-opacity="0" result="BackgroundImageFix" />
                    <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
                      result="hardAlpha" />
                    <feOffset dy="4" />
                    <feGaussianBlur stdDeviation="30" />
                    <feComposite in2="hardAlpha" operator="out" />
                    <feColorMatrix type="matrix"
                      values="0 0 0 0 0.921569 0 0 0 0 0.192157 0 0 0 0 0.172549 0 0 0 0.1 0" />
                    <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_532_192" />
                    <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_532_192" result="shape" />
                  </filter>
                  <filter id="filter2_d_532_192" x="335.459" y="31.8098" width="147.965" height="146.554"
                    filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                    <feFlood flood-opacity="0" result="BackgroundImageFix" />
                    <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
                      result="hardAlpha" />
                    <feOffset dy="4" />
                    <feGaussianBlur stdDeviation="20" />
                    <feComposite in2="hardAlpha" operator="out" />
                    <feColorMatrix type="matrix"
                      values="0 0 0 0 0.921569 0 0 0 0 0.192157 0 0 0 0 0.172549 0 0 0 0.1 0" />
                    <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_532_192" />
                    <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_532_192" result="shape" />
                  </filter>
                </defs>
              </svg>
            </div>
            <div class="order-2 md:w-3/6 w-full md:pt-8">
              <div class="text-xl sm:text-2xl flex gap-4 font-bold mb-1 md:mt-20 mt-10">
                <span>
                  <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                      d="M21.3333 2.66663H10.6666C5.33329 2.66663 2.66663 5.33329 2.66663 10.6666V28C2.66663 28.7333 3.26663 29.3333 3.99996 29.3333H21.3333C26.6666 29.3333 29.3333 26.6666 29.3333 21.3333V10.6666C29.3333 5.33329 26.6666 2.66663 21.3333 2.66663ZM14.8133 22.2133C14.48 22.5466 13.8666 22.8533 13.4133 22.92L10.64 23.3066C10.5333 23.32 10.4266 23.3333 10.3333 23.3333C9.86663 23.3333 9.43996 23.1733 9.13329 22.8666C8.75996 22.4933 8.59996 21.9466 8.69329 21.36L9.07996 18.5866C9.14663 18.1333 9.45329 17.5066 9.78663 17.1866L14.8133 12.16C14.8933 12.4 15 12.64 15.12 12.9066C15.24 13.1466 15.36 13.3866 15.4933 13.6133C15.6 13.8 15.72 13.9866 15.8266 14.12C15.96 14.32 16.0933 14.4933 16.1866 14.5866C16.24 14.6666 16.2933 14.72 16.3066 14.7466C16.6 15.08 16.9066 15.4 17.2 15.64C17.28 15.72 17.3333 15.76 17.3466 15.7733C17.52 15.9066 17.68 16.0533 17.84 16.1466C18.0133 16.28 18.2 16.4 18.3866 16.5066C18.6133 16.64 18.8533 16.7733 19.1066 16.8933C19.36 17.0133 19.6 17.1066 19.84 17.1866L14.8133 22.2133ZM22.0666 14.9733L21.0266 16.0133C20.96 16.08 20.8666 16.12 20.7733 16.12C20.7466 16.12 20.6933 16.12 20.6666 16.1066C18.3733 15.4533 16.5466 13.6266 15.8933 11.3333C15.8533 11.2133 15.8933 11.08 15.9866 10.9866L17.04 9.93329C18.76 8.21329 20.3866 8.25329 22.0666 9.93329C22.92 10.7866 23.3466 11.6133 23.3333 12.4666C23.3333 13.3066 22.92 14.12 22.0666 14.9733Z"
                      fill="#EB312C" />
                  </svg>
                </span>
                <p class="md:text-3xl text-2xl ml-2">2. Contacter</p>
              </div>
              <p class="text-gray-600">
                Une fois que vous avez trouvé un professeur qui correspond à vos
                besoins, contactez-le directement via notre plateforme
                conviviale.
              </p>
            </div>
          </div>

          <div class="md:flex block mt-12">
            <div class="order-2 w-full flex justify-center">
              <svg class="md:w-10/12 w-full" viewBox="0 0 576 379" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect x="92.2115" width="480.788" height="372" rx="40" fill="#FFF6E8" />
                <g filter="url(#filter0_d_806_182)">
                  <path
                    d="M60 103.439C60 92.3935 68.9543 83.4392 80 83.4392H343.028C354.074 83.4392 363.028 92.3935 363.028 103.439V294.056C363.028 305.102 354.074 314.056 343.028 314.056H80C68.9543 314.056 60 305.102 60 294.056V103.439Z"
                    fill="white" />
                </g>
                <g filter="url(#filter1_d_806_182)">
                  <path
                    d="M415.521 133.57C415.521 122.524 424.475 113.57 435.521 113.57H495.735C506.78 113.57 515.735 122.524 515.735 133.57V190.916C515.735 201.962 506.78 210.916 495.735 210.916H435.521C424.475 210.916 415.521 201.962 415.521 190.916V133.57Z"
                    fill="white" />
                </g>
                <g filter="url(#filter2_d_806_182)">
                  <path
                    d="M471.593 270.598C471.593 263.238 477.56 257.271 484.92 257.271H485.705C493.066 257.271 499.033 263.238 499.033 270.598C499.033 277.958 493.066 283.925 485.705 283.925H484.92C477.56 283.925 471.593 277.958 471.593 270.598Z"
                    fill="white" />
                </g>
                <rect x="133.967" y="115.888" width="153.9" height="13.9065" rx="6.95327" fill="#EDF4FF" />
                <rect x="92.2115" y="162.243" width="23.8605" height="23.1776" rx="5" fill="#EDF4FF" />
                <rect x="92.2115" y="208.598" width="23.8605" height="23.1776" rx="5" fill="#EDF4FF" />
                <rect x="92.2115" y="254.953" width="23.8605" height="23.1776" rx="5" fill="#EDF4FF" />
                <rect x="147.091" y="162.243" width="23.8605" height="23.1776" rx="5" fill="#EDF4FF" />
                <rect x="147.091" y="208.598" width="23.8605" height="23.1776" rx="5" fill="#EDF4FF" />
                <rect x="147.091" y="254.953" width="23.8605" height="23.1776" rx="5" fill="#EDF4FF" />
                <rect x="201.97" y="162.243" width="23.8605" height="23.1776" rx="5" fill="#EDF4FF" />
                <rect x="201.97" y="208.598" width="23.8605" height="23.1776" rx="5" fill="#EDF4FF" />
                <rect x="201.97" y="254.953" width="23.8605" height="23.1776" rx="5" fill="#EDF4FF" />
                <rect x="256.849" y="162.243" width="23.8605" height="23.1776" rx="5" fill="#EDF4FF" />
                <rect x="256.849" y="208.598" width="23.8605" height="23.1776" rx="5" fill="#FBC02D" />
                <rect x="256.849" y="254.953" width="23.8605" height="23.1776" rx="5" fill="#EDF4FF" />
                <rect x="311.728" y="162.243" width="23.8605" height="23.1776" rx="5" fill="#EDF4FF" />
                <rect x="311.728" y="208.598" width="23.8605" height="23.1776" rx="5" fill="#EDF4FF" />
                <rect x="311.728" y="254.953" width="23.8605" height="23.1776" rx="5" fill="#EDF4FF" />
                <path d="M447.732 163.801L460.568 176.149L490.681 147.177" stroke="#636363" stroke-width="3"
                  stroke-linecap="round" stroke-linejoin="round" />
                <defs>
                  <filter id="filter0_d_806_182" x="0" y="27.4392" width="423.028" height="350.617"
                    filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                    <feFlood flood-opacity="0" result="BackgroundImageFix" />
                    <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
                      result="hardAlpha" />
                    <feOffset dy="4" />
                    <feGaussianBlur stdDeviation="30" />
                    <feComposite in2="hardAlpha" operator="out" />
                    <feColorMatrix type="matrix" values="0 0 0 0 0.654167 0 0 0 0 0.464803 0 0 0 0 0 0 0 0 0.1 0" />
                    <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_806_182" />
                    <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_806_182" result="shape" />
                  </filter>
                  <filter id="filter1_d_806_182" x="355.521" y="57.5701" width="220.214" height="217.346"
                    filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                    <feFlood flood-opacity="0" result="BackgroundImageFix" />
                    <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
                      result="hardAlpha" />
                    <feOffset dy="4" />
                    <feGaussianBlur stdDeviation="30" />
                    <feComposite in2="hardAlpha" operator="out" />
                    <feColorMatrix type="matrix" values="0 0 0 0 0.654167 0 0 0 0 0.464803 0 0 0 0 0 0 0 0 0.1 0" />
                    <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_806_182" />
                    <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_806_182" result="shape" />
                  </filter>
                  <filter id="filter2_d_806_182" x="411.593" y="201.271" width="147.44" height="146.654"
                    filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                    <feFlood flood-opacity="0" result="BackgroundImageFix" />
                    <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
                      result="hardAlpha" />
                    <feOffset dy="4" />
                    <feGaussianBlur stdDeviation="30" />
                    <feComposite in2="hardAlpha" operator="out" />
                    <feColorMatrix type="matrix" values="0 0 0 0 0.654167 0 0 0 0 0.464803 0 0 0 0 0 0 0 0 0.1 0" />
                    <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_806_182" />
                    <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_806_182" result="shape" />
                  </filter>
                </defs>
              </svg>
            </div>
            <div class="order-1 md:pt-32 pt-10">
              <div class="text-lg flex sm:text-4xl font-bold mb-2 gap-2">
                <svg width="33" height="33" viewBox="0 0 33 33" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M23.0315 4.895V2.75C23.0315 2.18625 22.564 1.71875 22.0003 1.71875C21.4365 1.71875 20.969 2.18625 20.969 2.75V4.8125H12.0316V2.75C12.0316 2.18625 11.5641 1.71875 11.0003 1.71875C10.4366 1.71875 9.96906 2.18625 9.96906 2.75V4.895C6.25656 5.23875 4.45532 7.4525 4.18032 10.7387C4.15282 11.1375 4.48282 11.4675 4.86782 11.4675H28.1328C28.5315 11.4675 28.8615 11.1237 28.8203 10.7387C28.5453 7.4525 26.744 5.23875 23.0315 4.895Z"
                    fill="#FBC02D" />
                  <path
                    d="M27.5 13.5298H5.5C4.74375 13.5298 4.125 14.1485 4.125 14.9047V23.3747C4.125 27.4997 6.1875 30.2497 11 30.2497H22C26.8125 30.2497 28.875 27.4997 28.875 23.3747V14.9047C28.875 14.1485 28.2563 13.5298 27.5 13.5298ZM12.6637 25.0385C12.595 25.0935 12.5263 25.1622 12.4575 25.2035C12.375 25.2585 12.2925 25.2997 12.21 25.3272C12.1275 25.3685 12.045 25.396 11.9625 25.4097C11.8662 25.4235 11.7838 25.4372 11.6875 25.4372C11.5087 25.4372 11.33 25.396 11.165 25.3272C10.9862 25.2585 10.8488 25.1622 10.7112 25.0385C10.4637 24.7772 10.3125 24.4197 10.3125 24.0622C10.3125 23.7047 10.4637 23.3472 10.7112 23.086C10.8488 22.9622 10.9862 22.866 11.165 22.7972C11.4125 22.6872 11.6875 22.6597 11.9625 22.7147C12.045 22.7285 12.1275 22.756 12.21 22.7972C12.2925 22.8247 12.375 22.866 12.4575 22.921C12.5263 22.976 12.595 23.031 12.6637 23.086C12.9113 23.3472 13.0625 23.7047 13.0625 24.0622C13.0625 24.4197 12.9113 24.7772 12.6637 25.0385ZM12.6637 20.226C12.4025 20.4735 12.045 20.6247 11.6875 20.6247C11.33 20.6247 10.9725 20.4735 10.7112 20.226C10.4637 19.9647 10.3125 19.6072 10.3125 19.2497C10.3125 18.8922 10.4637 18.5347 10.7112 18.2735C11.0963 17.8885 11.7013 17.7647 12.21 17.9847C12.3888 18.0535 12.54 18.1497 12.6637 18.2735C12.9113 18.5347 13.0625 18.8922 13.0625 19.2497C13.0625 19.6072 12.9113 19.9647 12.6637 20.226ZM17.4762 25.0385C17.215 25.286 16.8575 25.4372 16.5 25.4372C16.1425 25.4372 15.785 25.286 15.5238 25.0385C15.2762 24.7772 15.125 24.4197 15.125 24.0622C15.125 23.7047 15.2762 23.3472 15.5238 23.086C16.0325 22.5772 16.9675 22.5772 17.4762 23.086C17.7238 23.3472 17.875 23.7047 17.875 24.0622C17.875 24.4197 17.7238 24.7772 17.4762 25.0385ZM17.4762 20.226C17.4075 20.281 17.3388 20.336 17.27 20.391C17.1875 20.446 17.105 20.4872 17.0225 20.5147C16.94 20.556 16.8575 20.5835 16.775 20.5972C16.6788 20.611 16.5962 20.6247 16.5 20.6247C16.1425 20.6247 15.785 20.4735 15.5238 20.226C15.2762 19.9647 15.125 19.6072 15.125 19.2497C15.125 18.8922 15.2762 18.5347 15.5238 18.2735C15.6475 18.1497 15.7987 18.0535 15.9775 17.9847C16.4862 17.7647 17.0913 17.8885 17.4762 18.2735C17.7238 18.5347 17.875 18.8922 17.875 19.2497C17.875 19.6072 17.7238 19.9647 17.4762 20.226ZM22.2887 25.0385C22.0275 25.286 21.67 25.4372 21.3125 25.4372C20.955 25.4372 20.5975 25.286 20.3363 25.0385C20.0887 24.7772 19.9375 24.4197 19.9375 24.0622C19.9375 23.7047 20.0887 23.3472 20.3363 23.086C20.845 22.5772 21.78 22.5772 22.2887 23.086C22.5362 23.3472 22.6875 23.7047 22.6875 24.0622C22.6875 24.4197 22.5362 24.7772 22.2887 25.0385ZM22.2887 20.226C22.22 20.281 22.1512 20.336 22.0825 20.391C22 20.446 21.9175 20.4872 21.835 20.5147C21.7525 20.556 21.67 20.5835 21.5875 20.5972C21.4912 20.611 21.395 20.6247 21.3125 20.6247C20.955 20.6247 20.5975 20.4735 20.3363 20.226C20.0887 19.9647 19.9375 19.6072 19.9375 19.2497C19.9375 18.8922 20.0887 18.5347 20.3363 18.2735C20.4737 18.1497 20.6112 18.0535 20.79 17.9847C21.0375 17.8747 21.3125 17.8472 21.5875 17.9022C21.67 17.916 21.7525 17.9435 21.835 17.9847C21.9175 18.0122 22 18.0535 22.0825 18.1085C22.1512 18.1635 22.22 18.2185 22.2887 18.2735C22.5362 18.5347 22.6875 18.8922 22.6875 19.2497C22.6875 19.6072 22.5362 19.9647 22.2887 20.226Z"
                    fill="#FBC02D" />
                </svg>
                <p class="md:text-3xl text-2xl ml-2">3. Organiser</p>
              </div>
              <p class="text-gray-600">
                Après avoir discuté avec votre professeur et convenu des
                détails, il est temps de planifier vos sessions d'apprentissage.
              </p>
            </div>
          </div>
        </div>
      </div>

      <div
        class="absolute inset-x-0 top-[calc(100%-13rem)] -z-10 transform-gpu overflow-hidden blur-3xl sm:top-[calc(100%-30rem)]"
        aria-hidden="true">
        <div
          class="relative left-[calc(50%+3rem)] aspect-[1155/678] w-[36.125rem] -translate-x-1/2 bg-gradient-to-tr from-[#ff80b5] to-[#9089fc] opacity-30 sm:left-[calc(50%+36rem)] sm:w-[72.1875rem]"
          style="
            clip-path: polygon(
              74.1% 44.1%,
              100% 61.6%,
              97.5% 26.9%,
              85.5% 0.1%,
              80.7% 2%,
              72.5% 32.5%,
              60.2% 62.4%,
              52.4% 68.1%,
              47.5% 58.3%,
              45.2% 34.5%,
              27.5% 76.7%,
              0.1% 64.9%,
              17.9% 100%,
              27.6% 76.8%,
              76.1% 97.7%,
              74.1% 44.1%
            );
          "></div>
      </div>
    </div>
  </div>

</main>