<div class="bg-indigo-800">
  <div class="w-[90%] mx-auto grid md:grid-col-4 md:gap-20 gap-1 md:pt-34 pt-20 md:pb-16 pb-20 border-b">
    <div class="text-center">
      <h3 class="font-extralight md:text-xl mb-2 text-white">Démarrez l’aventure avec tutora 📚🌟🚀</h3>
      <h2 class="font-extrabold text-3xl md:text-20xl mb-2 text-white"> Redéfinissez votre expérience d’apprentissage
        maintenant.</h2>

      <p class="font-extralight text-lg md:text-sm mb-2 text-white">Découvrez un monde d'apprentissage personnalisé
        avec
        Tutora. Libérez votre potentiel académique et atteignez de <br>
        nouveaux
        sommets.
      </p>

      <button type="button"
        class=" mt-4 rounded bg-white px-20 py-3 text-xs font-semibold hover:text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Devenir
        tutor</button>
    </div>
  </div>
</div>

<div class="bg-white">
  <div
    class="w-[90%] mx-auto grid md:grid-cols-4  md:gap-20 gap-10 text-gray-700 md:pt-24 pt-10 md:pb-16 pb-8 border-b ">
    <div class="">
      <div class="text-[#8353f4] md:pt-2">

        <h1 class="text-black text-3xl font-extrabold">tutora</h1>

      </div>
    </div>

    <div class="md:pt-4 pt-1">
      <div>
        <p class="text-sm font-medium text-gray-900">PLATEFORME</p>
        <ul class="text-sm ">
          <li class="pt-3">
            <p>Comment ça marche</p>
          </li>
          <li class="pt-3">
            <p>Matières</p>
          </li>
          <li class="pt-3">
            <p>Universités</p>
          </li>
          <li class="pt-3">
            <p>Premium</p>
          </li>
        </ul>
      </div>
    </div>

    <div class="md:pt-4 pt-1">
      <div>
        <p class="text-sm font-medium text-gray-900">PROFESSEURS</p>
        <ul class="text-sm ">
          <li class="pt-3">
            <p>Comment ça marche</p>
          </li>
          <li class="pt-3">
            <p>S’inscrire</p>
          </li>
        </ul>
      </div>
    </div>

    <div class="md:pt-4 pt-1">
      <div>
        <p class="text-sm font-medium text-gray-900 uppercase">Resources</p>
        <ul class="text-sm ">
          <li class="pt-3">
            <p>Aide</p>
          </li>
          <li class="pt-3">
            <p>Blog</p>
          </li>
          <li class="pt-3">
            <p>Mentions légales</p>
          </li>
        </ul>
      </div>
    </div>

  </div>
  <div class="md:flex justify-between w-[90%] mx-auto md:py-16 py-8 text-gray-800">
    <div class="md:pb-0 pb-4">
      <p class="md:text-sm text-xs">Copyright © 2024, Tutora - Tous Droits réservés </p>
    </div>
    <div>
      <div class="flex gap-4">
        <a>
          <svg width="16" height="16" viewBox="0 0 20 14" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M15.812 0.0171133H4.145C1.855 0.0171133 0 1.85211 0 4.11611V9.88411C0 12.1481 1.856 13.9841 4.145 13.9841H15.812C18.102 13.9841 19.957 12.1481 19.957 9.88411V4.11611C19.957 1.85211 18.101 0.0161133 15.812 0.0161133V0.0171133ZM13.009 7.28011L7.552 9.85511C7.51872 9.87114 7.48192 9.87848 7.44503 9.87647C7.40815 9.87445 7.37237 9.86313 7.34103 9.84357C7.3097 9.82401 7.28382 9.79684 7.2658 9.76459C7.24779 9.73234 7.23822 9.69605 7.238 9.65911V4.35011C7.23867 4.31299 7.24872 4.27663 7.26722 4.24444C7.28573 4.21224 7.31208 4.18526 7.34382 4.16599C7.37556 4.14673 7.41167 4.13581 7.44877 4.13425C7.48587 4.1327 7.52276 4.14057 7.556 4.15711L13.014 6.89211C13.0504 6.91024 13.0809 6.93826 13.102 6.97294C13.1232 7.00762 13.1341 7.04756 13.1336 7.08818C13.1331 7.1288 13.1211 7.16845 13.0991 7.20258C13.077 7.2367 13.0458 7.26392 13.009 7.28111V7.28011Z"
              fill="#0F172A" />
          </svg>
        </a>
        <a>
          <svg width="10" height="16" viewBox="0 0 10 20" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M2.04598 3.865V6.613H0.0319824V9.973H2.04598V19.959H6.17998V9.974H8.95498C8.95498 9.974 9.21498 8.363 9.34098 6.601H6.19698V4.303C6.19698 3.96 6.64698 3.498 7.09298 3.498H9.34698V0H6.28298C1.94298 0 2.04598 3.363 2.04598 3.865Z"
              fill="#0F172A" />
          </svg>
        </a>
        <a>
          <svg width="16" height="16" viewBox="0 0 20 17" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M20 1.90716C19.2504 2.23454 18.4565 2.4492 17.644 2.54416C18.4968 2.0434 19.138 1.24927 19.448 0.310164C18.64 0.780492 17.7587 1.11177 16.841 1.29016C16.4545 0.88537 15.9897 0.563551 15.4748 0.344342C14.9598 0.125133 14.4056 0.0131294 13.846 0.0151639C11.58 0.0151639 9.743 1.82516 9.743 4.05516C9.743 4.37116 9.779 4.68016 9.849 4.97516C8.22358 4.89786 6.63212 4.48257 5.17617 3.7558C3.72022 3.02903 2.43176 2.00674 1.393 0.754164C1.02883 1.36857 0.837415 2.06994 0.839 2.78416C0.839697 3.45213 1.00683 4.10939 1.32529 4.69656C1.64375 5.28372 2.1035 5.78228 2.663 6.14716C2.01248 6.12616 1.37602 5.95249 0.805 5.64016V5.69016C0.805 7.64816 2.22 9.28116 4.095 9.65316C3.74261 9.74666 3.37958 9.79406 3.015 9.79416C2.75 9.79416 2.493 9.76916 2.242 9.71916C2.51008 10.5271 3.02311 11.2315 3.70982 11.7345C4.39653 12.2375 5.22284 12.5142 6.074 12.5262C4.61407 13.6507 2.82182 14.2582 0.979 14.2532C0.647 14.2532 0.321 14.2332 0 14.1972C1.88125 15.3879 4.06259 16.0184 6.289 16.0152C13.836 16.0152 17.962 9.85816 17.962 4.51916L17.948 3.99616C18.7529 3.42983 19.4481 2.72201 20 1.90716Z"
              fill="#0F172A" />
          </svg>
        </a>
        <a>
          <svg width="16" height="16" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M14.017 0H5.947C4.37015 0.00185307 2.85844 0.629143 1.74353 1.74424C0.628623 2.85933 0.00158794 4.37115 0 5.948L0 14.018C0.00185307 15.5948 0.629143 17.1066 1.74424 18.2215C2.85933 19.3364 4.37115 19.9634 5.948 19.965H14.018C15.5948 19.9631 17.1066 19.3359 18.2215 18.2208C19.3364 17.1057 19.9634 15.5938 19.965 14.017V5.947C19.9631 4.37015 19.3359 2.85844 18.2208 1.74353C17.1057 0.628623 15.5938 0.00158794 14.017 0V0ZM17.957 14.017C17.957 14.5344 17.8551 15.0468 17.6571 15.5248C17.4591 16.0028 17.1689 16.4371 16.803 16.803C16.4371 17.1689 16.0028 17.4591 15.5248 17.6571C15.0468 17.8551 14.5344 17.957 14.017 17.957H5.947C4.90222 17.9567 3.90032 17.5415 3.16165 16.8026C2.42297 16.0638 2.008 15.0618 2.008 14.017V5.947C2.00827 4.90222 2.42349 3.90032 3.16235 3.16165C3.90122 2.42297 4.90322 2.008 5.948 2.008H14.018C15.0628 2.00827 16.0647 2.42349 16.8034 3.16235C17.542 3.90122 17.957 4.90322 17.957 5.948V14.018V14.017Z"
              fill="#0F172A" />
            <path
              d="M9.98195 4.81885C8.61338 4.82096 7.30148 5.36563 6.33385 6.33345C5.36621 7.30127 4.8218 8.61328 4.81995 9.98185C4.82153 11.3508 5.36597 12.6632 6.33385 13.6312C7.30172 14.5993 8.61403 15.144 9.98295 15.1458C11.352 15.1443 12.6646 14.5997 13.6327 13.6316C14.6008 12.6635 15.1454 11.3509 15.1469 9.98185C15.1448 8.61293 14.5999 7.30073 13.6316 6.33304C12.6634 5.36535 11.3509 4.82117 9.98195 4.81985V4.81885ZM9.98195 13.1378C9.14519 13.1378 8.3427 12.8054 7.75102 12.2138C7.15935 11.6221 6.82695 10.8196 6.82695 9.98285C6.82695 9.14609 7.15935 8.3436 7.75102 7.75193C8.3427 7.16025 9.14519 6.82785 9.98195 6.82785C10.8187 6.82785 11.6212 7.16025 12.2129 7.75193C12.8045 8.3436 13.1369 9.14609 13.1369 9.98285C13.1369 10.8196 12.8045 11.6221 12.2129 12.2138C11.6212 12.8054 10.8187 13.1378 9.98195 13.1378Z"
              fill="#0F172A" />
            <path
              d="M15.1559 6.09509C15.8391 6.09509 16.3929 5.54127 16.3929 4.85809C16.3929 4.17492 15.8391 3.62109 15.1559 3.62109C14.4728 3.62109 13.9189 4.17492 13.9189 4.85809C13.9189 5.54127 14.4728 6.09509 15.1559 6.09509Z"
              fill="#0F172A" />
          </svg>
        </a>
        <a>
          <svg width="16" height="16" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M19.959 11.7189V19.0979H15.681V12.2129C15.681 10.4829 15.062 9.30288 13.514 9.30288C12.332 9.30288 11.628 10.0989 11.319 10.8679C11.206 11.1429 11.177 11.5259 11.177 11.9109V19.0979H6.897C6.897 19.0979 6.955 7.43788 6.897 6.22888H11.177V8.05288L11.149 8.09488H11.177V8.05288C11.745 7.17788 12.76 5.92688 15.033 5.92688C17.848 5.92688 19.959 7.76688 19.959 11.7189ZM2.421 0.0258789C0.958 0.0258789 0 0.985879 0 2.24888C0 3.48388 0.93 4.47288 2.365 4.47288H2.393C3.886 4.47288 4.813 3.48388 4.813 2.24888C4.787 0.985879 3.887 0.0258789 2.422 0.0258789H2.421ZM0.254 19.0979H4.532V6.22888H0.254V19.0979Z"
              fill="#0F172A" />
          </svg>
        </a>
      </div>
    </div>
  </div>
</div>