<h1 class="text-4xl mb-10 mx-10 my-5">Listes des Utilisateurs</h1>
<div class="flex justify-end px-5">
         <button type="button"
                  class="block rounded-md bg-blue-600 px-3 py-2 text-center text-sm font-semibold text-white shadow-sm hover:bg-blue-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-blue-600">Ajouter
                  un utilisateur</button>
</div>

<table class="min-w-full mx-10 my-10 divide-blue-200 mb-20">
         <thead class="bg-gray-500">
                  <tr>
                           <th scope="col"
                                    class="px-6 py-3 text-left text-xs font-medium text-gray-100 uppercase tracking-wider">
                                    Nom</th>
                           <th scope="col"
                                    class="px-6 py-3 text-left text-xs font-medium text-gray-100 uppercase tracking-wider">
                                    Prénom</th>
                           <th scope="col"
                                    class="px-6 py-3 text-left text-xs font-medium text-gray-100 uppercase tracking-wider">
                                    Rôle</th>
                  </tr>
         </thead>
         <tbody class="bg-white divide-y divide-gray-200">
                  <tr *ngFor="let user of users">
                           <td class="px-6 py-4 whitespace-nowrap">{{user.firstName}}</td>
                           <td class="px-6 py-4 whitespace-nowrap">{{user.lastName}}</td>
                           <td class="px-6 py-4 whitespace-nowrap">{{user.role}} </td>
                  </tr>
         </tbody>
</table>